* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #222;
  color: #ccc;
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.btn {
  background: #333;
  border: 1px solid #555;
  color: #ccc;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus-visible {
  background: #444;
}

.btn.btn-danger {
  background: #c0392b;
  border: 1px solid #e74c3c;
  color: #fff;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
  background: #a8321e;
}

.new-item-form input {
  outline: none;
  border: 1px solid #555;
  background: #444;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: #ccc;
}

.new-item-form input:focus {
  border: 1px solid #777;
}

.header {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #ddd;
  text-align: center; /* Center align the heading */
}

.list {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  list-style: none;
}

.list li:has(input:checked) label {
  color: #3498db;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.list li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.list li label {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
  align-items: center;
}

.list li:has(input:focus-visible) label {
  outline: 1px solid #3498db;
}

.list li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
}

.list li label::before {
  content: "";
  display: block;
  width: 0.9rem;
  height: 0.9rem;
  background: #555;
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li label:hover::before {
  background: #666;
}

.list li:has(input:checked) label::before {
  content: "✔";
  background: #27ae60;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
}

.list li:has(input:checked) label:hover::before {
  background: #2ecc71;
}
